@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Chonburi&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

body {
    font-family: "Syne", sans-serif;

    background-color: black;
}

.logo {
    font-family: "Bodoni Moda SC", serif;
}
